@media only screen and (min-width: 200px) {
    #announce-title {
        text-align: center;
        text-decoration: underline;
    }
    .announce-container {
        display: flex;
        width: 100%;
        height: 70vh;
        justify-content: center;
    }
    .announce-contents{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: fit-content;
        align-items: center;
    }
    .announce-contents h2 {
        margin: 0.5em 0 1em 0;
        text-align: center;
    }
    .announce-contents p {
    font-size: 20px;
    }
    .sign-off {
    display: flex;
    margin: 1em 0;
    width: 100%;
    justify-content: flex-end;
    }
    .spin {
        width: 20em;
    }
}
@media only screen and (min-width: 520px) {
    .announce-contents p {
        font-size: 24px;
    }
    .announce-container {
        height: 90vh;
    }
}
@media only screen and (min-width: 900px) {
    .announce-container {
        height: 75vh;
    }
    .spin {
        width: 25em;
    }
}
.hide {
    display: none;
}
.spin {
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    transition: rotate(3600deg);
    -o-transition: rotate(3600deg);
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
