/** PHONE*/
@media only screen and (min-width: 200px) {
    .title-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0em 1em;
        min-height: 70vh;
    }
    .overview-container {
        display: flex;
        position: relative;
        justify-content: space-evenly;
        width: 25em;
        color: var(--text-color);
        background-color: var(--accent-1);
        border: 2px solid var(--accent-3);
        border-radius: 8px;
        margin: 1em 0;
        cursor: pointer;
        text-decoration: none;
    }
    .complete-img-wrapper {
        position: absolute;
        width: fit-content;
        top: 0;
        right: 0;
        padding: 0.3em 0.3em 0 0;
    }
    #completedImg {
        width: 2em;
    }
    #genreImage {
        width: 4em;
        border-radius: 4px;
        margin: 0.5em 0;
    }
    .overview-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 70%;
    }
    .overview-title {
        font-size: 24px;
    }
    .overview-summary {
        width: 24em;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .overview-data {
        display: flex;
    }
    .overview-wordCount {
        display: flex;
        width: 60%;
    }
    .overview-badges {
        display: flex;
        width: 40%
    }
    .overview-wordCount > p, .overview-badges > p {
        font-size: 16px;
        margin-right: 0.5em;
    }
    .overview-container:hover .overview-title {
        color: var(--accent-3);
    }
    .instruction-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .instruction-wrapper > p {
        font-size: 16px;
    }
    footer {
        margin-top: 1em;
    }
}




@media only screen and (min-width: 720px) {
    .overview-container{
        width: 38em;
    }
    #genreImage {
        width: 5em;
    }
    .overview-summary {
        width: 37em;
    }
    .instruction-wrapper > p {
        font-size: 18px;
    }
    .main-wrapper {
        min-height: 75vh;
    }
}





@media only screen and (min-width: 1000px) {
    .overview-container{
        width: 48em;
    }
    #genreImage {
        width: 7em;
    }
    .overview-title {
        font-size: 28px;
    }
    .overview-summary {
        width: 35em;
        font-size: 16px;
    }
    .overview-wordCount > p, .overview-badges > p {
        font-size: 20px;
    }
}




@media only screen and (min-width: 1400px) {
    .main-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 2em;
    }
    .instruction-wrapper {
        height: 3em;
    }
    .overview-container {
        justify-self: center;
        width: 38em;
    }
    #genreImage {
        width: 8em;
    }
    .main-wrapper h1 {
        grid-column: 1/ span 2;
        justify-self: center;
    }
    .overview-summary {
        width: 27em;
    }
}
    