@media only screen and (min-width: 200px) {
    .join-wrapper {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        z-index: 10;
        position: absolute;
    }
    .changeLeague-wrapper {
        display: none;
        justify-content: center;
        /* align-items: center; */
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        z-index: 10;
        position: absolute;
    }
    .join-popup, .changeLeague-popup {
        position: relative;
        display: flex;
        z-index: 1;
        flex-direction: column;
        height: fit-content;
        width: 90%;
        background-color: var(--accent-1);
        border: 2px solid var(--accent-3);
        border-radius: 16px;
        padding: 1em;
        margin-top: 6em;
    }
    .join-popup > h2, .changeLeague-popup > h5 {
        text-align: center;
        margin-bottom: 1em;
    }
    .changeLeague-popup > h5 {
        color: var(--warning);
    }
    .close-wrapper {
        cursor: pointer;
    }
    .option-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* padding-left: 4em; */
    }
    .radio {
        padding: 0.7em;
    }
    .radio-wrapper-9 input[type=radio] {
        display: none;
        appearance: none;
    }
    .radio-wrapper-9 input[type=radio] + label:before {
        content: "";
        background: #f4f4f4;
        border-radius: 100%;
        border: 1px solid #b4b4b4;
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.1em;
        margin-right: .6em;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
    }
    .radio-wrapper-9 input[type=radio]:checked + label:before {
        background-color: #3197EE;
        box-shadow: inset 0 0 0 4px #f4f4f4;
    }
    .radio-wrapper-9 input[type=radio]:focus + label:before {
        outline: none;
        border-color: #3197EE;
    }
    .radio-wrapper-9 input[type=radio]:disabled + label:before {
        box-shadow: inset 0 0 0 4px #f4f4f4;
        border-color: #b4b4b4;
        background: #b4b4b4;
    }
    .radio-wrapper-9 input[type=radio] + label:empty:before {
        margin-right: 0;
    }
    .button-wrapper {
        display: flex;
        justify-content: end;
        width: 100%;
        padding: 1em 0em;
    }
    .league-btn {
        width: 5em;
        height: 2.5em;
        background-color: var(--text-color);
        color: var(--reverse-text-color);
        border: 2px solid var(--accent-2);
        border-radius: 16px;
        cursor: pointer;
    }


    .global-wrapper {
        display: flex;
        justify-content: center;
        background-color: var(--accent-2);
        color: var(--reverse-text-color);
        padding: 0.5em 0;
        margin: 1em 0;
    }
    .global-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }
    .league-wrapper, .globalTable-wrapper {
        margin: 1em 0;
        padding-top: 0.5em;
    }
    .title-wrapper {
        text-align: center;
        margin: 1em 0;
    }
    .league-content {
        border-top: 6px solid var(--accent-2);
        border-bottom: 6px solid var(--accent-2);
    }
    .labels {
        display: grid;
        /* justify-content: space-between; */
        grid-template-columns: 10% 70% 20%;
        text-align: center;
        padding: 0.5em 1em;
        background-color: var(--accent-3);
        color: var(--reverse-text-color);
        border-top: 2px solid var(--accent-2);
        border-bottom: 2px solid var(--accent-2);
    }
    .league-rows, .globalTable-wrapper {
        display: flex;
        flex-direction: column;
    }
    .row-item {
        display: grid;
        /* justify-content: space-between; */
        grid-template-columns: 10% 70% 20%;
        padding: 1em;
        text-align: center;
    }
    .row-item:nth-child(even) {
        background-color: var(--accent-1);
    }
    .pages-wrapper {
        padding: 10px 0;
        justify-content: space-between;
        margin: 0 0.5em;
    }
    .pages-wrapper a {
        padding-right: 10px;
        background-color: #e2e6e6;
        padding: 8px;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        color: #616872;
        border-radius: 4px;
    }
    .pages-wrapper a:hover {
        background-color: #d4dada;
    }
    .pages-wrapper .next a, .pages-wrapper .prev a {
        text-transform: uppercase;
		font-size: 12px;
    }
    .pages-wrapper .currentpage a {
        background-color: var(--accent-1);
    }
    .pages-wrapper .currentpage a:hover {
        background-color: var(--accent-1);
    }
    .link-wrapper {
        display: flex;
        justify-content: end;
        padding: 0 1em;
    }
    .link {
        /* cursor: pointer; */
        padding-left: 0.3em;
    }
    .link, .fa-repeat {
        cursor: pointer;
    }
}



@media only screen and (min-width: 700px) {
    .join-popup, .changeLeague-popup {
        width: 60%;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .league-wrapper, .globalTable-wrapper {
        width: 80%;
    }
    .league-content {
        border-left: 2px solid var(--accent-2);
        border-right: 2px solid var(--accent-2);
        border-radius: 4px;
    }
    .global-content {
        width: 60%;
    }
    .link-wrapper {
        padding: 0 3em;
    }
}



/** DESKTOP*/
@media only screen and (min-width: 1200px) {
    .desktop-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .join-popup, .changeLeague-popup {
        width: 30%;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
    }
    .center {
        width: 100%;
        align-items: center;
    }
    .league-wrapper, .globalTable-wrapper {
        width: 60%;
    }
    .global-content {
        width: 30%;
    }
    .link-wrapper {
        justify-content: center;
    }
}

.hide {
    display: none;
}
.show {
    display: flex;
}