@media only screen and (min-width: 200px) {
    .contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        width: 80%;
    }
    .input {
        background-color: var(--accent-1);
        border: 2px solid var(--accent-3);
        color: var(--accent-2);
        width: 90%;
        height: 2.7em;
        margin: 0.5em 0;
        padding: 8px;
    }
    .user-wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 2em 0;
    }
    .message-wrapper {
        display: flex;
        flex-direction: column;
    }
    #message {
        background-color: var(--accent-1);
        border: 2px solid var(--accent-3);
        color: var(--accent-2);
        width: 100%;
        height: 13em;
        padding: 8px;
        resize: vertical;
        margin-bottom: 2em;
    }
    .contact-button {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2em;
    }
    #submit {
        width: 6em;
        height: 3em;
        font-weight: 600;
        background-color: var(--accent-2);
        color: var(--reverse-text-color);
        border-color: transparent;
        border-radius: 16px;
        margin: 1em 1em;
    }
    .fail {
        color: var(--warning);
    }


/** Captcha */
    .captchaPopupWrapper {
        display: flex;
        z-index: 10;
        position: absolute;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    .captchPopup {
        position: relative;
        height: fit-content;
        width: 90%;
        background-color: var(--accent-1);
        border: 2px solid var(--accent-3);
        border-radius: 16px;
        padding: 1em;
        margin-top: 6em;
    }
    #image {
        margin-top: 10px;
        box-shadow: 5px 5px 5px 5px gray;
        width: 60px;;
        padding: 20px;
        font-weight: 400;
        padding-bottom: 0px;
        height: 40px;
        user-select: none;
        text-decoration:line-through;
        font-style: italic;
        font-size: x-large;
        border: red 2px solid;
        margin-left: 10px;  
    }
    #user-input {
        box-shadow: 5px 5px 5px 5px gray;
        width:auto;
        margin-right: 10px;
        padding: 10px;
        padding-bottom: 0px;
        height: 40px;
        border: red 0px solid;
    }
    input {
        border:1px black solid;
    }
    .inline {
        display:inline-block;
    }
    #btn {
        box-shadow: 5px 5px 5px grey;
        color: aqua;
        margin: 10px;
        background-color: brown;
    }
}




@media only screen and (min-width: 720px) {
    .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-content {
        width: 80%;
    }
    .captchPopup {
        width: 40%;
    }
}




@media only screen and (min-width: 1024px) {
    .content-wrapper {
        display: flex;
        margin: 3em 0 0.5em 0;
    }
    .user-wrapper {
        width: 40%;
        margin: 0;
    }
    .message-wrapper {
        width: 60%;
    }
    #message {
        height: 26em;
    }
    .captchPopup {
        width: 30%;
        margin-top: 9em;
    }
}