/**MOBILE*/
@media only screen and (min-width: 200px) {
    /** Select Project Popup*/
    .project-select-wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 4em;
        padding-right: 0.8em;
    }
    .project-select {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 12em;
        height: 3em;
        background-color: var(--accent-1);
        border-radius: 14px;
        padding: 0 1em;
        cursor: pointer;
        white-space:pre-wrap;
        font-family: luminari;
    }
    .fa-caret-down {
        margin-left: 0.5em;
    }
    /* .project-select-popup-wrapper {
        display: none;
        z-index: 10;
        position: absolute;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    } */
    .project-select-popup {
        position: relative;
        display: flex;
        z-index: 1;
        flex-direction: column;
        height: fit-content;
        width: 90%;
        background-color: var(--accent-1);
        border: 2px solid var(--accent-3);
        border-radius: 16px;
        padding: 1em;
        margin-top: 6em;
    }
    .project-select-content {
        display: flex;
        align-items: center;
        height: 6em;
        cursor: pointer;
        text-decoration: none;
    }
    .project-select-content:hover #popup-project-title {
        color: var(--accent-3);
    }
    .popup-image {
        width: 3em;
        height: fit-content;
        margin-right: 0.5em;
    }
    .project-info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .project-stats {
        display: flex;
        justify-content: space-between;
        padding-right: 8px;
    }
    #popup-project-title {
        width: 16em;
        margin-bottom: 0.5em;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow: hidden;
    }
    .project-stats > p {
        font-size: 16px;
        /* width: 50%; */
    }
    .button-wrapper {
        display: flex;
        justify-content: end;
        width: 100%;
        padding: 1em 0em;
    }
    #save {
        width: 5em;
        height: 2.5em;
        background-color: var(--text-color);
        color: var(--reverse-text-color);
        border: 2px solid var(--accent-2);
        border-radius: 16px;
        cursor: pointer;
    }
    /** Update Word Count Popup*/
    /* .count-update-wrapper {
        display: none;
        z-index: 10;
        position: absolute;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    } */
    .count-update-popup {
        display: flex;
        position: relative;
        z-index: 1;
        flex-direction: column;
        height: fit-content;
        width: 90%;
        background-color: var(--accent-1);
        border: 2px solid var(--accent-3);
        border-radius: 16px;
        padding: 1em 1em 0 1em;
        margin-top: 16em;
    }
    .close-wrapper {
        /* display: flex;
        justify-content: end;
        width: 100%; */
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.7em;
    }
    .fa-close {
        cursor: pointer;
    }
    .count-update-popup form {
        display: flex;
        flex-direction: column;
    }
    .count-type-select-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.5em;
    }
    .count-type-select {
        /* appearance: none; */
        display: flex;
        text-align: center;
        /* justify-content: center; */
        align-items: center;
        position: relative;
        width: 35%;
        height: 2.7em;
        cursor: pointer;
        background-color: var(--background-color);
        color: var(--text-color);
        border: 2px solid var(--accent-3);
        border-radius: 8px;
    }
    .count-type-select > p {
        font-size: 20px;
    }
    .count-type-dropdown {
        display: none;
        position: absolute;
        translate: 0 2em;
        top: 0;
        z-index: 1;
        width: 80%;
        background-color: var(--accent-1);
        border: 2px solid var(--accent-3);
        border-radius: 16px;
        margin-top: 0.3em;
    }
    .count-type-select:hover .count-type-dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .count-type-list {
        text-align: center;
        width: 100%;
        cursor: pointer;
    }
    .count-type-list:hover {
        background-color: var(--accent-3);
        color: var(--text-color);
    }
    .count-type-list:hover:first-child {
        border-radius: 10px 10px 0 0;
    }
    .count-type-list:hover:last-child {
        border-radius: 0 0 10px 10px;
    }
    #updateWordCount {
        background-color: var(--background-color);
        color: var(--text-color);
        border: var(--accent-2) solid 2px;
        border-radius: 4px;
        accent-color: var(--background-color);
        padding: 8px;
        width: 60%;
        height: 2.5em;
    }
    .save {
        width: 5em;
        height: 2.5em;
        background-color: var(--accent-2);
        color: var(--reverse-text-color);
        border: 2px solid var(--accent-2);
        border-radius: 16px;
        cursor: pointer;
    }

    /** Current Project overview*/
    .current-project-wrapper {
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .current-project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1em;
    }
    #area-title { 
        margin-bottom: 0.5em;
        text-align: center;
    }
    .progress-info-container {
        /* display: flex;
        align-items: center; */
        width: 100%;
    }
    #area-title h1{ 
        font-size: 36px;
    }
    #project-img {
        /* flex-grow: 2; */
        float: left;
        margin: 0 1em 0 0;
    }
    #project-img img{
        width: 8em;
        height: fit-content;
        border-radius: 4px;
    }
    #project-title {
        text-align: center;
    }
    #summary-text {
        font-size: 18px;
    }

    .badge-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 2px solid var(--accent-3);
        padding: 1em 0.5em;
        background-color: var(--accent-1);
    }
    #badge-title {
        margin-bottom: 0.3em;
    }
    .rows {
        margin: 0.5em 0;
    }
    .auto-badges {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        border-bottom: 2px solid var(--accent-2);
        padding: 0.5em 0 1em 0;
    }
    .auto-row {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .toggle-badges {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 1em 0;
    }
    .toggle-row {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .instruction-wrapper {
        display: flex;
    }
    .instruction {
        font-size: 14px;
        text-align: center;
        padding: 0 1em;
    }

    
    /* .badge-container {
        display: grid;
        position: relative;
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
        align-items: center;
        gap: 1.5em 1em;
        border-top: 2px solid var(--accent-3);
        padding: 1em 0.5em;
        background-color: var(--accent-1);
    } */
    /* #instruction {
        grid-column: span 5;
        font-size: 12px;
        justify-self: center;
        text-align: center;
        padding: 0 1em;
    } */
    /* #badge-title {
        grid-column: span 5;
        justify-self: center;
    } */

    .slider-container {
        display: flex;
        align-items: center;
        /* position: absolute; */
        top: 0;
        right: 0;
        padding: 1em 0.5em 0 0;
    }
     /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 0 0.3em;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background-color);
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--accent-2);
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: var(--accent-3);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px var(--accent-3);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    } 

    /** Individual badge movement*/
    /* #quarter-quomplete-wrapper {
        position: relative;
    }
    #finish-him-wrapper {
        position: relative;
    } */
    #first-daily-popup {
        /* position: absolute;
        top: 0;
        right: 0; */
        translate: 6em -4em;
    }
    #quarter-quomplete-popup {
        translate: 6em -5em;
        /* top: 10;
        position: absolute; */
    }
    #half-way-popup {
        translate: 6em -5.7em;
    }
    #all-downhill-popup {
        translate: -6em -4.5em;
        border-radius: 16px 16px 0 16px;
    }
    #cross-finish-popup {
        translate: -6em -5em;
        border-radius: 16px 16px 0 16px;
    }
    #streak-two-popup {
        translate: 6em -3.7em;
    }
    #streak-three-popup {
        translate: 6em -3.5em;
    }
    #streak-seven-popup {
        translate: 6em -3.5em;
    }
    #streak-fourteen-popup {
        translate: -6em -3.5em;
        border-radius: 16px 16px 0 16px;
    }
    #streak-twentyOne-popup {
        translate: -6em -3.7em;
        border-radius: 16px 16px 0 16px;
    }
    #every-streak-popup {
        translate: 6em -4em;
    }
    #on-track-popup {
        translate: -6em -4em;
        border-radius: 16px 16px 0 16px;
    }
    #outline-popup {
        translate: 6em -4.5em;
    }
    #journey-popup {
        translate: 6em -5.5em;
    }
    #dual-wielder-popup {
        translate: -6em -4.7em;
        border-radius: 16px 16px 0 16px;
    }
    #starting-fresh-popup {
        translate: -6em -3.7em;
        border-radius: 16px 16px 0 16px;
    }
    #ever-persist-popup {
        translate: 6em -3em;
    }
    #back-it-up-popup {
        translate: 6em -5em;
    }
    #gathering-popup {
        translate: 6em -4em;
    }
    #hear-ye-popup {
        translate: -6em -4.5em;
        border-radius: 16px 16px 0 16px;
    }
    #breakthrough-popup {
        translate: -6em -5.2em;
        border-radius: 16px 16px 0 16px;
    }
    #touch-grass-popup {
        translate: 6em -4.5em;
    }
    #business-popup {
        translate: 6em -5.7em;
    }
    #tears-wept-popup {
        translate: -6em -4em;
        border-radius: 16px 16px 0 16px;
    }
    #finish-him-popup {
        translate: -6em -4.5em;
        /* position: absolute;
        top: -6;
        left: -4; */
        border-radius: 16px 16px 0 16px;
    }
}




/**TABLET PORTRAIT*/
@media only screen and (min-width: 720px) {
    .project-select-wrapper {
        padding-right: 2em;
    }
    .project-select-popup {
        width: 60%;
        /* padding-left: 1em; */
    }
    .popup-image {
        margin-right: 1em;
        border-radius: 4px;
    }
    #popup-project-title {
        width: 20em;
    }
    .count-update-popup {
        width: 50%;
    }
    /* .current-project-container {
        height: 25em;
    } */
    #project-img {
        margin: 0 2em 0 0;
    }
    #project-img img{
        width: 10em;
    }
    #summary-text {
        font-size: 20px;
    }
    /* .badge-container {
        gap: 2em 1.5em;
        justify-content: space-evenly;
    } */
     .auto-badges {
        border-bottom: 2px solid var(--accent-1);
    }
    .instruction {
        font-size: 18px;
    }
}




/**TABLET LANDSCAPE or SMALL DESKTOP*/
@media only screen and (min-width: 1000px) {
    .project-select-wrapper {
        padding-right: 3.5em;
    }
    .project-select-popup {
        width: 50%;
        /* padding-left: 1em; */
    }
    #popup-project-title {
        width: 21em;
    }
    .button-wrapper {
        padding: 1em 1.5em 1.5em 0;
    }
    .count-update-popup {
        width: 35%;
    }
    .main-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* align-items: center; */
        margin-top: 1em;
    }
    .current-project-wrapper {
        width: 50%;
        border-right: 2px solid var(--accent-1);
    }
    .current-project-container {
        margin: 0em 0.5em;
    }
    #area-title {
        padding-bottom: 1em;
    }
    #project-img img{
        width: 12em;
        height: fit-content;
    }
    #summary-text {
        font-size: 22px;
        margin-top: 0.5em;
    }
    .badge-container {
        width: 50%;
        background-color: var(--background-color);
        border-top: none;
        /* border-left: 2px solid var(--accent-3); */
    }
    .slider-container {
        padding-right: 1.5em;
    }
    .slider {
        background-color: var(--accent-1);
    }
}




@media only screen and (min-width: 1400px) {
    .project-select-wrapper {
        padding-right: 3.7em;
    }
    .project-select-popup {
        width: 40%;
        padding: 1.5em;
        margin-top: 8em;
    }
    #popup-project-title {
        width: 22em;
    }
    .count-update-popup {
        width: 30%;
    }
}