@media only screen and (min-width: 200px) {
    .profile-wrapper {
        padding: 1.5em 1em;
        margin-top: 1em;
        background-color: var(--accent-1);
        border-bottom: 2px solid var(--accent-3);
        border-top: 2px solid var(--accent-3);
    }
    #profileUpdate {
        position: absolute;
        right: 0;
        margin-right: 1em;
        color: var(--text-color);
        font-size: 24px;
    }
    .user-container {
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        width: 100%;
    }
    #profilePicture {
        width: 7em;
    }
    #username {
        font-size: 44px;
        padding-bottom: 0.2em;
    }
    .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .fav-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
    .fav-container > p {
        padding: 0.2em 0;
    }
    .fav-container > p, .bio-container > p {
        font-size: 18px;
        padding-left: 1em;
    }
    .fav-container, .bio-container {
        margin-top: 1em;
    }
    /** Current Project overview*/
    .current-project-wrapper {
        display: flex;
        justify-content: center;
    }
    .current-project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1em;
    }
    #area-title { 
        margin-bottom: 1em;
        text-align: center;
    }
    .progress-info-container {
        width: 100%;
    }
    #area-title h1{ 
        font-size: 36px;
    }
    #project-img {
        float: left;
        margin: 0 1em 0 0;
    }
    #project-img img{
        width: 8em;
        height: fit-content;
        border-radius: 4px;
    }
    #project-title {
        text-align: center;
        margin-bottom: 0.5em;
    }
    #summary-text {
        font-size: 18px;
    }
    .badge-container {
        /* display: grid;
        position: relative;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 1.5em 1em; */
        border-top: 2px solid var(--accent-3);
        padding: 1em 0.5em;
        background-color: var(--accent-1);
    }
    .auto-badges, .toggle-badges {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .badge-row {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 0.5em 0;
    }
    /* #complete-one-project-wrapper {
        grid-row-start: 1;
    }
    #streak-fiend-wrapper {
        grid-row-start: 2;
    } */
    .instruction-wrapper {
        display: flex;
    }
    .instruction {
        margin: 1em 0 0.5em 0;
    }
    #instruction {
        grid-column: span 5;
        font-size: 12px;
        justify-self: center;
        text-align: center;
        padding: 0.5em 1em;
    }
    #badge-title {
        grid-column: span 5;
        justify-self: center;
        padding-top: 0.5em;
    }

    .slider-container {
        display: flex;
        align-items: center;
        /* position: absolute;
        top: 0;
        right: 0; */
        padding: 0 0.5em 0 0;
    }
     /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 0 0.3em;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background-color);
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--accent-2);
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: var(--accent-3);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px var(--accent-3);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    } 


    #complete-one-project-popup {
        translate: 6em -4.5em;
    }
    #complete-five-project-popup {
        translate: 6em -4.5em;
    }
    #complete-ten-project-popup {
        translate: 6em -5.3em;
    }
    #streak-fiend-popup {
        translate: -6em -3.4em;
        border-radius: 16px 16px 0 16px;
    }
    #vet-streaker-popup {
        translate: -6em -4em;
        border-radius: 16px 16px 0 16px;
    }
    #hydra-slayer-popup {
        translate: 6em -6.5em;
    }
    #vet-guild-popup {
        translate: 6em -5.5em;
    }
    #start-first-project-popup {
        translate: 6em -3.5em;
    }
    #spicy-spicy-popup {
        translate: -6em -4em;
        border-radius: 16px 16px 0 16px;
    }
    #tears-alltime-popup {
        translate: -6em -4em;
        border-radius: 16px 16px 0 16px;
    }




    /** UPDATE PAGE*/
    .update-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 70vh;
    }
    .update-wrapper h1 {
        margin: 0.8em 0 0.8em 0;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 1em;
    }
    label {
        font-size: 20px;
    }
    #user-bio, .favs {
        background-color: var(--accent-1);
        color: var(--text-color);
        border: var(--accent-2) solid 2px;
        border-radius: 4px;
        accent-color: var(--background-color);
        padding: 8px;
    }
    #user-bio {
        height: 10em;
        resize: vertical;
        margin: 0.5em 1em 3.5em 1em;
    }
    .fav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .favs {
        height: 3.3em;
        width: 88%;
        margin: 0.8em 1em 0.5em 0.5em;
    }
    .button-wrapper {
        display: flex;
        justify-content: end;
        width: 100%;
        padding: 0 1em;
        margin: 4em 0 0 0;
    }
    #updateSubmit {
        width: 8em;
        height: 3em;
        font-weight: 600;
        background-color: var(--accent-2);
        color: var(--reverse-text-color);
        border-color: transparent;
        border-radius: 16px;
        cursor: pointer;
    }
    footer {
        margin-top: 3em;
    }
}





/**TABLET PORTRAIT*/
@media only screen and (min-width: 720px) {
    #profilePicture {
        width: 9em;
    }
    #username {
        font-size: 44px;
    }
    .fav-container > p, .bio-container > p {
        font-size: 20px;
        padding-left: 1.5em;
    }
    .fav-container, .bio-container {
        margin-top: 1.5em;
    }
    .profile-wrapper {
        padding: 1.5em 2em;
    }
    #badge-title {
        padding-top: 0;
    }
    /* .slider-container {
        padding: 1em 1.5em 0 0;
    } */
    #instruction {
        font-size: 18px;
    }
    .instruction {
        font-size: 18px;
        margin: 1.5em 0 0.5em 0;
    }



    form {
        width: 60%;
    }
    #user-bio {
        height: 13em;
    }
    .update-wrapper {
        min-height: 75vh;
    }
}






@media only screen and (min-width: 1400px) {
    .profile-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: none;
        background-color: var(--background-color);
    }
    #profileUpdate {
        margin-right: 2em;
    }
    #profileUpdate:hover > i {
        color: var(--accent-3);
    }
    #profilePicture {
        width: 12em;
    }
    #username {
        font-size: 54px;
        padding: 0;
    }
    .user-container {
        flex-direction: column;
        align-items: center;
        min-height: 20em;
        width: 40%;
        background-color: var(--accent-1);
        border: 2px solid var(--accent-3);
        border-radius: 16px;
        padding: 1em 0;
    }
    .profile-container {
        width: 50%;
    }
     .main-wrapper {
        display: flex;
        margin: 2em 0;
     }
    .current-project-wrapper{
        width: 50%;
    }
    .current-project-container {
        padding: 0 2em 1em 2em;
    }
    #area-title {
        padding-top: 0.4em;
    }
    #area-title h1 {
        font-size: 38px;
    }
    #summary-text {
        font-size: 22px;
        margin-top: 0.5em;
    }
    .badge-container {
        width: 50%;
        background-color: var(--background-color);
        border-top: none;
        border-left: 2px solid var(--accent-1);
        padding: 0 0.5em 1em 0.5em;
    }
    .slider {
        background-color: var(--accent-1);
    }



    form {
        width: 40%;
    }
}