:root,
    :root.dark0 { /*Royal Midnight*/
        --background-color: #1e202c;
        --text-color: #bfc0d1;
        --reverse-text-color: #1e202c;
        --accent-1: #31323c;
        --accent-2: #bfc0d1;
        --accent-3: #60519b;
        --filter-color: #dda7ff7e;
        --box-shadow: 0px 0px 40px #bfc0d1;
        --warning: #b80303;
    }
    :root.dark0 { /*Royal Dusk*/
        --background-color: #31323c;
        --text-color: #bfc0d1;
        --reverse-text-color: #31323c;
        --accent-1: #1e202c;
        --accent-2: #bfc0d1;
        --accent-3: #60519b;
        --filter-color: #dda7ff7e;
        --box-shadow: 0px 0px 40px #bfc0d1;
        --warning: #b80303;
    }
    /* dark theme number 1 */
    /* :root.dark1 {
        --background-color: #24184b;
        --text-color: #dda7ff;
        --reverse-text-color: #24184b;
        --accent-1: #563d76;
        --accent-2: #fbd160;
        --accent-3: #1b85a6;
        --filter-color: #dda7ff7e;
        --box-shadow: 0px 0px 15px #dda7ff7e;
        --warning: #b80303;
    } */
    /*dark theme number 2 */
    /* :root.dark2 {
        --background-color: #2f1f45;
        --text-color: #f9e7e7;
        --reverse-text-color: #2f1f45;
        --accent-1: #00416c;
        --accent-2: #b96ac9;
        --accent-3: #f9dbbd;
        --filter-color: #f9e7e77e;
        --box-shadow: 0px 0px 15px #f9e7e77e;
        --warning: #b80303;
    } */
    /*dark theme number 3*/
    /* :root.dark3 {
        --background-color: #312257;
        --text-color: #f9dbbd;
        --reverse-text-color: #312257;
        --accent-1: #502163;
        --accent-2: #ffc680;
        --accent-3: #3c7e85;
        --filter-color: #f9dbbd7e;
        --box-shadow: 0px 0px 15px #f9dbbd7e;
        --warning: #b80303;
    } */
    :root.light0 {
        --background-color: #bfc0d1;
        --text-color: #1e202c;
        --reverse-text-color: #bfc0d1;
        --accent-1: #60519b;
        --accent-2: #31323c;
        --accent-3: #60519b;
        --filter-color: #dda7ff7e;
        --box-shadow: 0px 0px 15px #dda7ff7e;
        --warning: #b80303;
    }
    /* light theme number 1 */
    :root.light1{
        --background-color: #f0d9ff;
        --text-color: #2e1f60;
        --reverse-text-color: #f0d9ff;
        --accent-1: #c099d8;
        --accent-2: #e1ba7a;
        --accent-3: #00738a;
        --filter-color: #2e1f607e;
        --box-shadow: 5px 5px 12px #2e1f607e;
        --text-shadow: 0px 0px 10px #f0d9ff;
        --warning: #b80303;
    }
    /*light theme number 2 */
    :root.light2 {
        --background-color: #f9e7e7;
        --text-color: #2f1f45;
        --reverse-text-color: #f9e7e7;
        --accent-1: #f9dbbd;
        --accent-2: #b96ac9;
        --accent-3: #00416c;
        --filter-color: #2f1f457e;
        --box-shadow: 5px 5px 12px #2e1f607e;
        --text-shadow: 0px 0px 10px var(--accent-2);
        --warning: #b80303;
    }  


/** PHONE*/
@media only screen and (min-width: 200px) {
    .main-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0em 1em;
    }
    .overview-container{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        color: var(--text-color);
        background-color: var(--accent-1);
        border: 2px solid var(--accent-3);
        border-radius: 8px;
        margin: 1em 0;
        cursor: pointer;
    }
    .overview-container img {
        width: 4em;
        border-radius: 4px;
        margin: 0.5em 0;
    }
    .overview-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 70%;
    }
    .overview-title {
        font-size: 24px;
    }
    .overview-summary {
        width: 24em;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .overview-data {
        display: flex;
    }
    .overview-wordCount, .overview-badges {
        display: flex;
        width: 50%;
    }
    .overview-wordCount > p, .overview-badges > p {
        font-size: 16px;
        margin-right: 0.5em;
    }
}




@media only screen and (min-width: 720px) {
    .overview-container{
        width: 80%;
    }
    .overview-container img {
        width: 5em;
    }
    .overview-summary {
        width: 37em;
    }
}





@media only screen and (min-width: 1000px) {
    .overview-container img {
        width: 7em;
    }
    .overview-title {
        font-size: 28px;
    }
    .overview-summary {
        width: 40em;
        font-size: 16px;
    }
    .overview-wordCount > p, .overview-badges > p {
        font-size: 20px;
    }
}




@media only screen and (min-width: 1400px) {
    .main-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 2em;
    }
    .overview-container {
        justify-self: center;
        width: 90%;
    }
    .overview-container img {
        width: 8em;
    }
    .main-wrapper h1 {
        grid-column: 1/ span 2;
        justify-self: center;
    }
    .overview-summary {
        width: 27em;
    }
}
    