:root,
    /* dark theme number 1 */
    :root.dark1 {
        --background-color: #24184b;
        --text-color: #dda7ff;
        --reverse-text-color: #24184b;
        --accent-1: #563d76;
        --accent-2: #c99c23;
        --accent-3: #1b85a6;
        --filter-color: #dda7ff7e;
        --box-shadow: 0px 0px 15px #dda7ff7e;
        --warning: #b80303;
    }
    /*dark theme number 2 */
    :root.dark2 {
        --background-color: #2f1f45;
        --text-color: #f9e7e7;
        --reverse-text-color: #2f1f45;
        --accent-1: #00416c;
        --accent-2: #b96ac9;
        --accent-3: #f9dbbd;
        --filter-color: #f9e7e77e;
        --box-shadow: 0px 0px 15px #f9e7e77e;
        --warning: #b80303;
    }
    /*dark theme number 3*/
    :root.dark3 {
        --background-color: #312257;
        --text-color: #f9dbbd;
        --reverse-text-color: #312257;
        --accent-1: #502163;
        --accent-2: #ffc680;
        --accent-3: #3c7e85;
        --filter-color: #f9dbbd7e;
        --box-shadow: 0px 0px 15px #f9dbbd7e;
        --warning: #b80303;
    }
    /* light theme number 1 */
    :root.light1{
        --background-color: #f0d9ff;
        --text-color: #2e1f60;
        --reverse-text-color: #f0d9ff;
        --accent-1: #c099d8;
        --accent-2: #e1ba7a;
        --accent-3: #00738a;
        --filter-color: #2e1f607e;
        --box-shadow: 5px 5px 12px #2e1f607e;
        --text-shadow: 0px 0px 10px #f0d9ff;
        --warning: #b80303;
    }
    /*light theme number 2 */
    :root.light2 {
        --background-color: #f9e7e7;
        --text-color: #2f1f45;
        --reverse-text-color: #f9e7e7;
        --accent-1: #f9dbbd;
        --accent-2: #b96ac9;
        --accent-3: #00416c;
        --filter-color: #2f1f457e;
        --box-shadow: 5px 5px 12px #2e1f607e;
        --text-shadow: 0px 0px 10px var(--accent-2);
        --warning: #b80303;
    }
@media only screen and (min-width: 200px) {
    .new-project-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .new-project-wrapper h1 {
        text-align: center;
    }
    .new-project-container {
        /* display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    label {
        font-size: 1.3em;
    }
    input, select, textarea{
        background-color: var(--accent-1);
        color: var(--text-color);
        border: var(--accent-2) solid 2px;
        border-radius: 4px;
        accent-color: var(--background-color);
        padding: 8px;
    }
    input, select {
        height: 2.5em;
    }
    .input-section {
        display: grid;
        grid-template-columns: 35% 65%;
        gap: 0.5em;
        margin: 1em 0;
    }
    .checkbox-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #noEndDate {
        margin-left: 1em;
    }
    .noEndDate {
        font-size: 0.8em;
    }
    .checkbox-wrapper, #recommend, .summary {
        grid-column: span 2;
    }
    #summary {
        height: 10em;
        resize: vertical;
    }
    .submit {
        grid-column: span 2;
    }
}
@media only screen and (min-width: 720px) {
    form {
        width: 70%;
    }
    input, select {
        height: 2.7em;
    }
    #summary {
        height: 12em;
    }
}
@media only screen and (min-width: 1200px) {
    .new-project-container {
        flex-direction: row;
        justify-content: center;
    }
    .input-section, .preview-section {
        width: 50%;
        margin: 0 0.5em;
    }
    form {
        width: 80%;
        flex-direction: row;
    }
    .input-section {
        padding-top: 1em;
    }
    label {
        font-size: 1.5em;
    }
    input, select {
        height: 2.9em;
    }
    .noEndDate {
        font-size: 1em;
    }
    #summary {
        height: 14em;
    }
    .preview-section {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto auto auto auto;
    }
    .preview-section h1 {
        grid-column: span 2;
    }
    .preview-section img {
        width: 10em;
        height: auto;
        grid-row: span 3;
    }
}
input:invalid {
  border: var(--warning) solid 3px;
  /* accent-color: var(--accent-2); */
}