@media only screen and (min-width: 200px) {
    .archive-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.5em 1em;

        background-color: var(--warning);
        color: var(--reverse-text-color);
    }
    .archive-warning a {
        color: var(--accent-2);
        text-decoration: underline;
        cursor: pointer;
    }
    .new-project-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .new-project-wrapper h1 {
        text-align: center;
        margin-bottom: 0.5em;
    }
    .new-project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    form {
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 2em;
        width: 90%;
    }
    label {
        font-size: 1.3em;
        padding-right: 0.5em;
    }
    .input, select, textarea{
        background-color: var(--accent-1);
        color: var(--text-color);
        border: var(--accent-2) solid 2px;
        border-radius: 4px;
        accent-color: var(--background-color);
        padding: 8px;
    }
    .input, select {
        height: 3em;
    }
    .input-section {
        display: grid;
        grid-template-columns: 35% 65%;
        align-items: center;
        row-gap: 0.5em;
        margin: 1em 0 2em 0;
    }
    .checkbox-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #noEndDate {
        margin-left: 1em;
    }
    .noEndDate {
        font-size: 0.8em;
    }
    .checkbox-wrapper, #recommend, .summary {
        grid-column: span 2;
    }
    #summary {
        height: 10em;
        resize: vertical;
    }
    .preview-section {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: space-evenly;
        row-gap: 1.5em;

        background-color: var(--accent-1);
        border: 2px solid var(--accent-2);
        border-radius: 4px;
        padding: 0.5em 0.5em 1em 0.5em;
    }
    .preview-section h1 {
        grid-column: span 3;
        text-decoration: underline;
    }
    .preview-section img {
        justify-self: center;
        width: 8em;
        border-radius: 4px;
    }
    .preview-section h2 {
        grid-column: span 2;
        justify-self: center;
        text-align: center;
        padding-left: 0.5em;
    }
    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid-item:last-child {
        grid-column: span 3;
        min-height: 8em;
        padding: 0em 1em;
    }
    .button {
        display: flex;
        justify-content: end;
        margin-bottom: 1em;
    }
    #cancel {
        display: none;
    }
    #submit {
        width: 8em;
        height: 3em;
        font-weight: 600;
        background-color: var(--accent-2);
        color: var(--reverse-text-color);
        border-color: transparent;
        border-radius: 16px;
        margin: 1em 1em;
        cursor: pointer;
    }
}


@media only screen and (min-width: 720px) {
    form {
        width: 60%;
    }
    input, select {
        height: 2.7em;
    }
    #summary {
        height: 12em;
    }
}
@media only screen and (min-width: 1200px) {
    .new-project-container {
        flex-direction: row;
        justify-content: center;
    }
    .input-section, .preview-section {
        margin: 0 0.5em;
    }
    form {
        width: 80%;
        grid-template-columns:50% 50%;
        grid-template-rows: auto auto;
        row-gap: 1em;
    }
    .input-section {
        padding-top: 1em;
    }
    label {
        font-size: 1.5em;
    }
    input, select {
        height: 2.9em;
    }
    .noEndDate {
        font-size: 1em;
    }
    #summary {
        height: 14em;
    }
    .button {
        grid-column: span 2;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em;
    }
    #cancel {
        display: block;
    }
}
input:invalid {
  border: var(--warning) solid 3px;
  /* accent-color: var(--accent-2); */
}
.hide {
    display: none;
}