@media only screen and (min-width: 200px) {
    .pb-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .pb-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--accent-1);
        width: 90%;
        height: fit-content;
        border-radius: 12px;
        padding: 0.5em 0;
    }
    .pb-background h1 {
        margin: 0.43em 0 0.73em 0;
    }
    .progress-bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--progress-bar);
        width: 95%;
        height: 37px;
        border: 2px solid var(--accent-2);
        border-radius: 16px;
        box-shadow: var(--box-shadow);
        margin-bottom: 0.8em;
    }
    .percentage {
        display: flex;
        width: 20%;
        height: 32px;
        background-color: var(--percentage);
        border-radius: 15px 0px 0px 15px;
        /* padding-left: 5px; */
    }
    .progress-info-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        /* gap: 0.5em; */
        justify-content: center;
    }
    .progress-info h2 {
        justify-content: center;
    }
    .progress-info h2 {
        text-decoration: underline;
        margin: 0.2em 0;
    }
    .added {
        display: flex;
        width: 100%;
        justify-content: end;
        padding: 0 0.5em;
    }
    #edit-pb, #updateCount {
        font-size: 24px;
        cursor: pointer;
    }
}
@media only screen and (min-width: 326px) {
    .pb-background {
        width: 93%;
    }
}
@media only screen and (min-width: 720px) {
    .progress-info-wrapper {
        display: flex;
        justify-content: space-evenly;
    }
    .added {
        margin-top: 0.3em;
    }
}
